:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --sidebar-width: 25rem;
    --theme-color: #6D36D0;
    --theme-color-secondary: #656565;
    --theme-color-gray-300: #aeaeae;
    --theme-color-gray-200: #e7e7e7;
    --theme-color-gray-100: #fafafa;
    --button-square-width: 60px;
    --switch-height: 1.5rem;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* TODO: HUGE WARNING FOR THIS: SHOULD BE DELETED */
*:focus,
button:focus,
a:focus {
    outline: none;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: var(--theme-color-secondary);
}

a:hover {
    color: #535bf2;
}

/* TYPOGRAPHY */
h1 {
    font-size: 2.5rem;
    line-height: 1.1;
}

/* BUTTONS */
button {
    font-size: 1em;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: var(--theme-color);
    border: none;
    border-radius: 0;
    color: #ffffff;
    font-weight: 600;
}

.button:not(disabled):not(.button--outline):hover {
    background-color: var(--theme-color-secondary);
}

.button--outline {
    background-color: transparent;
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
}

.button--outline:not(:disabled):hover {
    border-color: var(--theme-color-secondary);
    color: var(--theme-color-secondary);
}

/* DIALOG MODAL */
.dialog__wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.dialog__overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #a2a2a2;
    opacity: 0.8;
}

.dialog {
    background-color: #fff;
    min-width: 25rem;
}

.dialog__header {
    background-color: var(--theme-color);
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
}

.dialog__title {
    flex: 1;
    padding: 1.5rem 2rem;
}

.dialog__body {
    padding: 2rem;
}

.dialog__body + .dialog__footer {
    margin-top: -2rem;
}

.dialog__footer {
    /*border-top: 1px #cacaca solid;*/
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
