{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="jumbotron p-4">
        <h1 class="display-5">Administration !!!!</h1>
        <div class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam asperiores aut,
            blanditiis dolor dolores exercitationem expedita hic id impedit inventore libero nisi officia qui quia quos
            tempore temporibus voluptatum?
        </div>
    </div>
{% endblock %}
